.workouts-container {
  background-color: var(--surface-color);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 20px;
}

.table-row {
  border-top: 1px solid #ccc;
}

.table-heading-cell {
  padding: 8px 10px;
  text-align: left;
}

.table-cell {
  border-top: 1px solid #ccc;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 300;
}

.exercise-table-cell {
  border-top: 1px solid #ccc;
  padding: 2px 10px;
  font-size: 16px;
  font-weight: 300;
}

.button-cell {
  border-top: 1px solid #ccc;
}

.workouts-heading {
  text-align: center;
  font-size: 22px;
  margin: 8px;
}

.button-text {
  font-size: 15px;
  font-weight: 200;
  padding: 0 6px;
}

.delete-button-text {
  padding-left: 6px;
}

.add-button-row {
  text-align: center;
}

.delete-button-row {
  margin-top: 12px;
  text-align: center;
}

.workouts-button {
  background: none;
  border: none;
  margin: 0 4px;
  padding: 5px 6px;
  color: var(--light-color);
  border-radius: 5px;
}
.workouts-button:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.add-workout-button {
  background-color: var(--light-purple);
  border: none;
  margin: 0 4px;
  padding: 5px 6px;
  color: var(--light-color);
  border-radius: 5px;
}
.add-workout-button:hover {
  cursor: pointer;
  background-color: var(--light-purple-hover);
}

.workout-button-link {
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--light-color);
  font-size: 15px;
  margin: 0 4px;
  padding: 5px 6px;  
}
.workout-button-link:hover {
  cursor: pointer;
  background-color: var(--light-purple-hover);
}

.edit-workout-container {
  background-color: var(--surface-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 300;
}

.view-workout-container {
  width: 80vw;
  max-width: 600px;
  background-color: var(--surface-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 300;
}

.edit-workout-row {
  display: flex;
  flex-direction: row;
}

.view-workout-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 16px;
}

.edit-workout-title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px 0;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
}

.name-input {
  width: 35%;
  padding: 2px 8px;
  padding-top: 6px;
}

.desript-input {
  width: 50%;
  padding: 2px 8px;
  padding-top: 6px;
}

.duration-input {
  width: 15%;
  padding: 2px 8px;
  padding-top: 6px;
}

.exercises-label {
  padding: 6px 0;
  padding-left: 8px;
  padding-bottom: 2px;
}

.view-exercises-label {
  padding: 6px 0;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
}

.exercise-table {
  padding: 0 12px;
  width: 100%;
}

.exercise-table-heading-cell {
  padding: 2px 10px;
  font-size: 14px;
  text-align: left;
}

.view-exercise-table-heading-cell {
  padding: 2px 10px;
  font-size: 14px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

.exercise-button-text {
  font-size: 14px;
  font-weight: 200;
  margin: 0 5px;
}

.workout-label {
  align-self: center;
  font-size: 18px;
  font-weight: 500;
}

.view-workout-link {
  color: #fff;
  text-decoration: none;
}

.icon {
  margin-right: 6px;
}

input {
  border-radius: 5px;
  min-height: 18px;
}

@media screen and (max-width: 600px) {
  .descript-cell {
    display: none;
  }  
  .view-workout-row {
    flex-direction: column;    
  }
  .workout-button-link {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {  
  .exercise-input {
    max-width: 12vw;
  }
}
