.nav-container {
  height: 8vh;
  margin: 0 0;
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--dark-grey);
}

.nav-heading {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0;
  padding: 0 0;
}
.nav-heading:hover {
  cursor: pointer;
}

.nav-links-container {
  margin: 0;
  padding: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  margin: 0 4px;
  padding: 5px 10px;
}
.nav-link:hover {
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--light-grey);
  border-radius: 5px;
}

.nav-link-signup {
  margin: 0 4px;
  padding: 5px 10px;
  color: var(--light-color);
  background-color: var(--light-grey);
  border-radius: 5px;
}
.nav-link-signup:hover {
  cursor: pointer;
  color: var(--accent-color);
}
